#lang-bar {
	float: right;
	padding: 3px;
}

#issues {
	width: 100%;
	text-align: center;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

#banner img {
	width: 100%;
}

.inner {
	width: 90%;
	margin: 0 auto;
}

.issue {
	display: inline-block;
	margin: 50px 5px;
	flex-grow: 2;
	text-align: center;	
	width: 30%;
}

.issue img {
	width: 100%;
}

.issue:hover {
	cursor: pointer;
}

@media (max-width: 700px) {
	#issues {
		flex-direction: column;
	}
	.issue {
		width: 80%;
	}
}

#footer {
	display: block;
	font-size: 10px;
	float: right;
}